<h2>Корзина</h2>
<div *ngIf="items.length>0; else nobooks;">
<ul>
  <li class="list-group-item" *ngFor="let item of items; let i=index;">
    <app-cart-item
      [item]="item" [index]="i"
      (removeBook)="removeBook($event)"
      (increaseQuantity)="increaseQuantity($event)"
      (decreaseQuantity)="decreaseQuantity($event)"
      (updateCartTotal) = "updateCartData($event)"
    ></app-cart-item>
  </li>
</ul>

<button (click)="onClearCart()">Очистить корзину</button>
</div>
<ng-template #nobooks>
  <h5>Корзина пуста</h5>
</ng-template>
