<h2>Книги</h2>
<div class="row">
  <form>
    <label>Cортировать книги
      <select [(ngModel)]="sortParam" name="sortParam">
        <option value="name">По имени</option>
        <option value="price">По цене</option>
        <option value="isAvailable">По количеству</option>
      </select>
    </label>
    <label>
      <input type="radio" name="switchRadio" value="az" [(ngModel)]="sortFlag">
      AZ
    </label>
    <label>
      <input type="radio" name="switchRadio" value="za" [(ngModel)]="sortFlag">
      ZA
    </label>
  </form>
  <hr class="mt-2">
</div>
<div *ngIf="books; else loading;"class="row">
  <div class="col-md-4 col-lg-3"
       *ngFor="let book of books | orderBy : sortParam : sortFlag; let i=index; trackBy: trackByFn;">
    <app-book-item [book]="book" (buy)="buyBook($event)"></app-book-item>
  </div>
</div>
<ng-template #loading>
  <h5>Книг нет</h5>
</ng-template>



