<div class="card" id="book{{book.id}}">
  <img class="card-img-top" src="/assets/img/{{book.id}}/thumbnail.jpg" alt="{{book.name}}">
  <div class="card-header">
    {{book.category}}
    <app-favorite-button [id]="book.id"></app-favorite-button>
  </div>
  <div class="card-body">
    <h4><a (click)="bookLink()">{{book.name}}</a></h4>
    <p>{{book.description}}</p>
  </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Дата: {{book.createDate | date : 'mediumDate': null: 'ru-BY'}}</li>
      <li class="list-group-item">В наличии: {{book.isAvailable}} шт.</li>
      <li class="list-group-item">Цена: {{book.price}} руб.</li>
    </ul>
  <div class="card-body">
    <button type="button" class="btn btn-green card-link"
            *ngIf="book.isAvailable"
            (click)="buy.emit(book)">Buy
    </button>
    <button type="button" class="btn btn-secondary card-link" style="float:right;"
            (click)="bookLink()">Подробнее
    </button>
  </div>
</div>
