<h3>GeneratorService - useFactory</h3>
<p><label for="num">Введите длину строки, которую необходимо сгенерировать</label></p>
<input type="number" value="" id="num" [(ngModel)]="num">
<button (click)="getString()">Сгенерировать</button>
<p><strong>Полученная строка:</strong> {{generateString}}</p>
<hr>
<h3>localStorageService - useClass</h3>
<p><label for="num">Введите номер (ключ для получения localStorage записи.</label></p>
<input type="number" value="" id="num" [(ngModel)]="num1">
<button (click)="getLocalStorage()">Сгенерировать</button>
<p><strong>Ответ:</strong> {{answerLocalStorage}}</p>
