.btn-green {
  background-color: #74b808;
  color: #fff;
}

.btn-green:hover {
  background-color: #6dac07;
  color: #fff;
}


.form-group{
  margin: 16px 0;
}
.card {
//  height: 100%;
  margin-bottom: 2rem;
}
.navbar{
  font-size: 1.1rem;
}
.navbar-brand {
  font-size: 1.35rem;
}
.alert-valid{
  color: #ff4200;
}
